/*Se importa las fuentes para poder utulizarla*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
    display: block;
    margin-top: 3cm; /* Ajusta este valor según el espacio que quieras entre el encabezado y el texto */
    padding: 2%;
}

h1{
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: Outfit;
}

p {
    font-family: Outfit;
    font-size: 18px;
    text-align: justify;   
}