/*Se importa las fuentes para poder utulizarla*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    display: block;
    font-family: Outfit;
    margin-top: 3cm;
    margin-left: 1cm;
    margin-right: 1cm;
}

a {
    text-decoration: none;
    color: rgb(29, 28, 36);
}

a:hover {
    text-decoration: underline;
}

#Indice {
    margin-left: 6%;
    margin-right: 6%;
    font-size: large;
    background-color: #a5c3c5; 
    padding: 2%;
    border-radius: 10px;
}


#contenidoGeneral {
    text-align: justify;
    margin: 2%;
    width: 90%;
}

#uno, #dos, #tres, #cuatro, #cinco, #seis {
    display: block;
    padding: 50px;
    width: 85%;
    height: auto;
    border-radius: 10px;

}

p {    
    font-size: 18px;
}

.videos_text{
    display:flex;
    justify-content: space-around;
    background-color: #a5c3c5;
    margin-bottom: 30px;
    border-radius: 10px;
}

.videos{
    display: block;
    border-radius: 50%;
    
}
