/*Se importa las fuentes para poder utulizarla*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
 
/* Media Queries para dispositivos móviles y tablets */
@media only screen and (max-width: 768px) {
  .titulo {
    font-size: 45px; /* Reduce el tamaño de la fuente para dispositivos más pequeños */
  }

  .button {
    font-size: 25px; /* Reduce el tamaño de la fuente del botón */
    padding: 20px; /* Ajusta el padding del botón */
  }
}

@media only screen and (max-width: 480px) {
  .titulo {
    font-size: 35px; /* Ajusta aún más el tamaño de la fuente */
  }

  .button {
    font-size: 13px; /* Tamaño de fuente del botón */
    padding: 15px; /* Ajuste del padding */
  }
}

/* Estilos generales */
body {
  background-image: url(../imgs/ImportanciaFinanzas.jpg); /* Ruta a la imagen */
  background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen */
  background-attachment: fixed; 
  margin: 0; /* Elimina márgenes */
  display: flex; /* Activar flexbox */
  flex-direction: column; /* Organiza los hijos en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100vh; /* Toma toda la altura de la ventana */
}

.titulo {
  font-family: Space Grotesk;
  font-size: 70px; /* Tamaño original */
  text-align: center;
  margin: 0; /* Elimina el margen */
}

/* Botón */
.button {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  border-radius: 4px;
  background-color: #008989d2;
  border: none;
  color: #ffffff;
  font-family: Outfit;
  text-decoration: none;
  justify-content: center;
  font-size: 28px;
  padding: 30px;
  width: 100%; /* Utiliza el ancho completo */
  transition: all 0.5s;
  cursor: pointer;
}

/* FLECHITA: movimiento */
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb'; /* flechitas */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* MOVIMIENTO DE LETRA */
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

