/*Se importa las fuentes para poder utulizarla*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
    display: block;
    font-family: Outfit;
    margin-top: 3cm;
    margin-left: 2%;
    margin-right: 2%;
}

#layer1{
    
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: Outfit;
    font-size: 18px;
    text-align: justify;
}