/*Se importa las fuentes para poder utulizarla*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@media (max-width: 768px) {
    #son, #como {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}

body{
    font-family: Outfit;
    margin-top: 3cm;
    margin-left: 1cm;
}

a {
    text-decoration: none;
    color: rgb(29, 28, 36);
}

a:hover {
    text-decoration: underline;
}

#Indice {
    margin-left: 6%;
    margin-right: 6%;
    font-size: large;
    background-color: #a5c3c5; 
    padding: 2%;
    border-radius: 10px;
}

#uno, #dos {
    display: block;
    margin: 0 auto; /* Centrar horizontalmente el contenedor principal */
    width: 75%;
    height: auto;
    padding: 50px;
    border-radius: 10px;
}

.conjuntoContenidos {
    display: block; /* Para que actue como "bloque", uno abajo del otro.*/ 
}

.principiantes {
    background-color: #a5c3c5; 
    padding: 2%;
    border-radius: 10px;
}


#titulo {
    display: flex;
    justify-content: center;
    font-style: italic;    
}

#contenido {
    text-align: justify;
    margin: 2%;
    width: 90%;
}

