/*Se importa las fuentes para poder utulizarla*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
 
.Encabezado {
  display: flex;
  background-color: rgba(102, 110, 108, 0.705);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /*Aplica una sombra al menú desplegable para darle profundidad y hacer que parezca que se levanta del fondo.*/
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.Encabezado > div {
   /* Estilos para el logo */
   .logo {
    width: 100px;
    height: auto; /* Ajusta la altura automáticamente según el ancho */
    vertical-align: middle; /* Alinea verticalmente con respecto al texto */
    float: right;
    margin-top: 1%;
  }

  .index {
      font-size: 16px;
      font-family: monospace;
      color: #ffffff;
      text-decoration: none;
  }
}


.titulo {
  font-family:Space Grotesk;
  position: relative;
  top: 100px;
  font-size: 60px;
  text-align: center;
}

.button {
  display: flex;
  border-radius: 4px;
  background-color: rgb(69, 234, 113);
  border: none;
  color: #1b4905;
  font-family: Outfit;
  text-decoration: none;
  justify-content: center;
  font-size: 28px;
  padding: 30px;
  width: 96%;
  transition: all 0.5s;
  cursor: pointer;
}

/* FLECHITA: movimiento */
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb'; /* flechitas */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* MOVIMIENTO DE LETRA */
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* IMAGENES */
.grafica{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 7%;
}
