/*Se importa las fuentes para poder utulizarla*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
    font-family: Outfit;
    background-image: url(/ImportanciaFinanzas.jpg); /* Ruta a la imagen */
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed; 
    margin-top: 3cm; /* Ajusta este valor según el espacio que quieras entre el encabezado y el texto */
    margin-left: 1cm;
}

#texto {
    margin-bottom: 1cm;
    font-size: 25px;
    text-align: center;
    font-family: Outfit;
  }

#CONTAINER {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%; /* Respecto a la página.*/
    margin: 0 auto; /* Centrar horizontalmente el contenedor principal. */
}

#LINKS {
    transition: transform 0.5s ease;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
.adulto { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    border-radius: 3%;
    background-color: #09486b; 
}

.adulto:hover{
    transform: scale(1.05);
    color: rgb(222, 234, 222);
    background-color:  #3b8787;
}

.ninio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    border-radius: 3%;
    background-color: #cff09f;

}

.ninio:hover{
    transform: scale(1.05);
    background-color: #a9dba8; 
  }