/*Se importa las fuentes para poder utulizarla*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
 

.titulo {
  font-family:Space Grotesk;
  position: relative;
  top: 100px;
  font-size: 60px;
  text-align: center;
}

.button {
  display: flex;
  border-radius: 4px;
  background-color: #a9dba8;
  border: none;
  color: #315a1e;
  font-family: Outfit;
  text-decoration: none;
  justify-content: center;
  font-size: 28px;
  padding: 30px;
  width: 96%;
  transition: all 0.5s;
  cursor: pointer;
}

/* FLECHITA: movimiento */
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb'; /* flechitas */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

/* MOVIMIENTO DE LETRA */
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* IMAGENES */
.grafica{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 7%;
}
