/*Se importa las fuentes para poder utulizarla*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
    margin-top: 3cm; /* Ajusta este valor según el espacio que quieras entre el encabezado y el texto */
    margin-left: 1cm;
}

h1{
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: Outfit;
}

p {
    margin-right: 400px;
    font-family: Outfit;
    font-size: 18px;
    text-align: justify;
    
}