/*Se importa las fuentes para poder utulizarla*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    font-family: Outfit;
    margin: 2%;
}

a {
    text-decoration: none;
    color: rgb(29, 28, 36);
}

a:hover {
    font-size: larger;
    text-decoration: underline;
}

#Indice {
    margin-left: 6%;
    font-size: large;
}

#son, #como {
    display: block;
    margin: 5%;
    margin-left: 12%;
    margin-right: 12%;
    width: 75%;
    height: auto;
    border-radius: 10px;
    background-color: #12AAB5;
}

#titulo {
    display: flex;
    justify-content: center;
    font-style: italic;    
}

#contenido {
    text-align: justify;
    margin: 2%;
    width: 90%;
}

.conjuntoContenidos {
    display: block; /* Para que actue como "bloque", uno abajo del otro.*/ 
}